* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "DepartureMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: #1a1a1d;
    border-bottom: 2px solid #4b6b7c;
}

tooltip {
    background-color: #1a1a1d;
    border: 2px solid #4b6b7c;
}

#clock,
#tray,
#cpu,
#memory,
#backlight,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 6px 10px;
}

#workspaces {
    border-radius: 8px;
    background-color: #262626;
    margin: 6px 0px 6px 6px;
    border: 2px solid #4b6b7c;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 4px 6px;
    color: #7a7a7a;
}

#workspaces button.focused {
    color: #ffd93d;
}

#workspaces button.urgent {
    background-color: #c0392b;
    color: #1d1d1d;
}

#clock {
    border-radius: 8px;
    background-color: #262626;
    border: 2px solid #4b6b7c;
    color: #e5e5e5;
}

#tray,
#cpu,
#memory,
#network,
#battery,
#backlight,
#pulseaudio {
    border-radius: 8px;
    background-color: #262626;
    border: 2px solid #4b6b7c;
    color: #e5e5e5;
}

#cpu.critical,
#memory.critical {
    background-color: #3e1f1f;
    border: 2px solid #c0392b;
    color: #c0392b;
}

#battery.critical {
    background-color: #c9af82;
    border: 2px solid #917a53;
    color: #da4343;
}
